.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-logo-header);
}

.header__logo {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
}

.logo__accent {
    color: var(--accent-color);
}