.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 450px;
  }
  @include desktop {
    width: 528px;
  }
}

.hero-backdrop.is-hidden .hero-modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  fill: currentColor;
  .modal__btn-close:hover & {
    fill: var(--accent-color);
  }
}

.modal__form {
  width: 100%;
}

.modal__title {
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--color-title);
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.166;
  color: var(--text-color);
  text-align: left;
  margin-bottom: 4px;
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding-top: 10px;
  padding-left: 16px;

  font-size: 12px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  line-height: 1.15;
  color: rgba(117, 117, 117, 0.5);
  resize: none;
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 12px;
  line-height: 1.71;
  color: var(--text-color);
 
}

.modal__checkbox-label > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;

  fill: transparent;
  background-color: transparent;
  .modal__check:checked + & {
    background-color: var(--accent-color);
    border: none;
    fill: #ffffff;
  }

  .modal__check:focus + & {
    border-color: var(--accent-color);
  }
}

.modal__agreement {
  padding-left: 5px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal__submit {
  width: 200px;
  height: 50px;
  margin-top: 30px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: var(--btn-active);
  }
}
