.features {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }

}

.features__list {
    max-width: 100%;
    // flex-basis: calc((100% - 90px) / 4);

    @include mobile {
        max-width: 480px;
    }
    
    @include tablet {
        max-width: 768px;
        flex-basis: calc((100% - 30px) / 2);
    }
        @include desktop {
            max-width: 1200px;
            flex-basis: calc((100% - 90px) / 3);
        }
}

.features__icon {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    height: 120px;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
}

.features__item {
    display: block;
    margin-bottom: 10px;
    // text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.15;
    letter-spacing: 0.03em;
    
    color: var(--color-title);
}

.features__text {
    // max-width: 270px;
    line-height: 1.72;
    // margin-bottom: 30px;
    
}